@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
    color: #504f51;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0.5em 0.75em;
    background-color: #000;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

.skip-links a:focus {
    top:0;
}

.logo {
    margin: 0;
    padding: 0;
    bottom: 0;
}

.logo img {
    max-width: 200px;
}

.masthead {
	margin: 0;
    padding: 0;
    background-color: #940606;
}

.nav {
    list-style-type: none;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav current,
.nav .nav-current:link,
.nav .nav-current:visited {
    margin: 0;
    padding: -10%;
    background-color: #FFF;
    color: #504f51;
    border-radius: 4px;
}

.nav {
    list-style-type: none;
    padding: 0;
}

.nav a {
    text-decoration: none;
    display: block;
    color: #FFF;
    font-family: sans-serif;
}

.masthead {
    background-color: #940606;
}

.billboard {
    background-image: url(../images/forest.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90rem;
    position: relative;
}

.billboard h1 {
    margin: 0;
    padding: 5rem 2%;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: sans-serif;
    font-weight: normal;
}

.billboard p {
    position: absolute;
    padding: 2%;
    bottom: 0;
    color: #FFF;
    font-family: sans-serif;
}

.billboard span {
    display: block;
}

.get-started {
    font-size: 1rem;
    left: 40px;
    color: #FFF;
    background-color: #940606;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin-left: 0.3em;
    padding: 0 10px;
}

.h2-style {
    color: #282627;
    font-family: sans-serif;
}

blockquote p {
    font-size: .875rem;
    margin: 0;
    padding: 0;
}

blockquote p:before {
    content: "“";
    font-size: 1.25rem;
    line-height: 5px;
    color: #940606;
    float: left;
    margin-top: 0.3em;
}

blockquote p:after {
    content: "”";
    font-size: 1.25rem;
    line-height: 1px;
    color: #940606;
}

blockquote cite {
    font-style: oblique;
    float: right;
}

.snapshot {
    display: inline-block;
}

.snapshot img {
    width: 100%;
}

.top {
    text-decoration: none;
    color: #FFF;
}
    
.copyright {
    color: #FFF;
    text-align: center;
}

.nav-footer {
    padding: 10px;
}

.package {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    background-color: #504f51;
    padding-top: 15px;
}

.package img {
    width: 100%;
    border: solid 4px #000;
    border-radius: 10px;
}

.package-caption {
    color: #FFF;
    font-family: sans-serif;
}

#paid {
    display: none;
}

#paid:target {
    display: block;
}

label {
    display: block;
}

input + label {
    display: inline-block;
}

.sign-up-h2 {
    text-align: center;
}

.join-form {
    font-family: 'Syncopate', sans-serif;
    background-color: #303030;
    color: #FFF;
}

.interest-join {
    text-align: center;
    font-family: 'Enriqueta', serif;
    color: #FFF;
}

.sign-up-below {
    color: #9CF;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
    width: 100%;
    border: 1px solid #CCC;
}

.sign-up-button {
    text-align: center;
}

button {
    padding: 0.5em;
    font-size: 1.5em;
    color: #FFF;
    background-color: #940606;
    border: solid 2px #FFF;
    border-radius: 8px;
    font-family: 'Syncopate', sans-serif;
}

input {
    font-size: 1.5em;
    border-radius: 8px;
}

.radio {
    white-space: nowrap;
}

.cardinfo {
    display: inline-block;
}

@media only screen and (min-width: 25em) {
    
    .nav li {
        display: block;
    }
    
    .nav-footer li {
        display: inline-block;
    }
    
    .card-pad {
        padding-right: 10px;
    }
    
}
    
@media only screen and (min-width: 38em) {
    
    .nav {
        float: right;
    }
    
    .nav li {
        display: inline-block;
    }
    
    .intro-para {
        -moz-columns: 2;
        -webkit-columns: 2;
        -o-columns: 2;
        columns: 2;
        column-gap: 10px;
    }
    
}

@media only screen and (min-width: 60em) {

    .card-number-pad {
        padding-right: 10px;
    }
    
}