@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
    color: #504f51;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0.5em 0.75em;
    background-color: #000;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

.skip-links a:focus {
    top:0;
}

.logo {
    margin: 0;
    padding: 0;
    width: 10em;
    float: left;
    bottom: 0;
}

.masthead {
	margin: 0;
    padding: 0;
    background-color: #940606;
}

/*.nav {
    list-style-type: none;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    color: #FFF;
    text-decoration: none;
    font-family: sans-serif;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav current,
.nav .nav-current:link,
.nav .nav-current:visited {
    background-color: #FFF;
    color: #504f51;
    border-radius: 4px;
}*/

.nav {
    list-style-type: none;
    padding: 0;
}

.nav a {
    text-decoration: none;
    display: block;
    color: #FFF;
    font-family: sans-serif;
}

.masthead {
    background-color: #940606;
}



.billboard {
    background-image: url(../images/forest.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90rem;
    position: relative;
}

.billboard h1 {
    margin: 0;
    padding: 5rem 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: sans-serif;
    font-weight: normal;
}

.billboard p {
    position: absolute;
    bottom: 0;
    color: #FFF;
    font-family: sans-serif;
}

.billboard span {
    display: block;
}

.get-started {
    font-size: 1rem;
    left: 40px;
    color: #FFF;
    background-color: #940606;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin-left: 0.3em;
    padding: 0 10px;
}

.h2-style {
    color: #282627;
    font-family: sans-serif;
}

blockquote p {
    font-size: .875rem;
    margin: 0;
    padding: 0;
}

blockquote p:before {
    content: "“";
    font-size: 1.25rem;
    line-height: 5px;
    color: #AF0C0D;
    float: left;
    margin-top: 0.3em;
}

blockquote p:after {
    content: "”";
    font-size: 1.25rem;
    line-height: 1px;
    color: #AF0C0D;
}

blockquote cite {
    font-style: oblique;
    float: right;
}

.snapshot,
.snapshot img {
    width: 100%;
    border: 2px;
}


/*
.nav-footer li,
.nav-footer a {
    list-style-type: none;
    text-decoration: none;
    color: #FFF;
    display: inline-block;
}

.nav-footer > ul {
	margin: 0;
	padding: 0.2em;
	list-style-type: none;
    color: #FFF;
}

.nav-footer a,
.nav-footer a:link,
.nav-footer a:visited {
	display: block;
    color: #FFF;
    text-decoration: none;
    font-family: sans-serif;
}

.nav-footer a:hover,
.nav-footer a:focus,
.nav-footer a:active {
	background-color: #FFF;
    color: #504f51;
    border-radius: 4px;
}*/

.top {
    text-decoration: none;
    color: #FFF;
}
    
.copyright {
    color: #FFF;
    text-align: center;
}

@media only screen and (min-width: 25em) {

    .nav {
        text-align: right;
    }
    
    .nav li {
        display: inline-block;
    }